/* Define color variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color:#333;
    --text-color:peachpuff;
    --light-background: #ffffff;
    --border-color: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-shadow-color: rgba(0, 0, 0, 0.15);
}

body {
    font-family:cursive ;
    color: var(--text-color);
    line-height: 1.6;
    background-color:#333;
    margin: 0;
    padding: 0;
    backgroud:white;
}


header {
  
    color:palegoldenrod;
    padding: 120px 20px;
    text-align: center;
 
}

header h1 {
    font-size: 6.5em;
    margin-bottom: -20px;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
 header h2{
     
    font-size: 4.5em;
    margin-bottom:20px;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
 }

header p {
    font-size: 1.6em;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}



.cta-button {
    background-color: var(  --background-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color:#333;
    transform: scale(1.05);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 80px 20px;
}

.about {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow-color);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.about-photo {
  display: block;
  margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px var(--shadow-color);
}

.about-text {
    color:peachpuff;
    max-width: 600px;
}
.projects {
    background-color: #333;
    padding: 80px 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; /* Center the grid items */
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--shadow-color);
    background:#333;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 100%; /* Ensure projects don't exceed container width */
}

.project:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px var(--hover-shadow-color);
}

.project-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid var(--primary-color);
    transition: opacity 0.3s;
}

.project-details {
    padding: 20px;
}

.project-details h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: peachpuff;
}

.project-description {
    font-size: 1em;
    margin-bottom: 10px;
    color:peachpuff;
}


.project-tech {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: peachpuff;
}



.project-we{
    text-align:center;
    font-size:1rem;
}
.cta-button1 {
    background-color: ;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button1:hover {
    background-color: grey;
    transform: scale(1.05);
}


.skills {
    background-color: #333;
    padding: 80px 20px;
}

.skills h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color:peachpuff;
    text-align: center;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 20px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.skill:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--hover-shadow-color);
}

.skill h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.skill p {
    font-size: 1em;
    color:peachpuff;
    margin-bottom: 15px;
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    position: relative;
}

.skill-level {
    height: 100%;
    transition: width 0.5s;
}

.skill-level.html {
    width: 100%;
    background-color: #f16529; /* Example color for HTML */
}

.skill-level.css{
    width: 90%;
    background-color: #f7df1e; /* Example color for JavaScript */
}

.skill-level.react {
    width: 10%;
    background-color: #61dafb; /* Example color for React */
}

.skill-level.nodejs {
    width: 40%;
    background-color: #68a063; /* Example color for Node.js */
}


.cta-button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}


/* Contact Section */
.contact {
    padding: 80px 20px;
    background: #333;
    color: #fff;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input, .contact textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.contact button {
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #1c1c1c;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: #444;
}
button.cta-button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

button.cta-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}


.social-media {
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0056b3;
}



footer {
    background-color:#333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}


.mail-to{
  margin-top: 20px;
}

.mail-to{
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.mail-to:hover {
  color:blue;
}


 .dark-mode {
  background-color: #111;
  color: invert(100%);

}

.dark-mode header {
  background-color: #222;
}

.dark-mode footer {
  background-color: #222;
  color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

/* Night mode styles */
body.night {
    background: #121212; /* Dark background */
    color: #f0f0f0; /* Light text */
}

body.night header {
    background:#333; /* Dark overlay for hero section */
}

body.night button {
    background-color: #333; /* Softer night button color */
}

body.night .service-card,
body.night .project-card {
    background: #333; /* Dark card background */
}


footer {
    padding: 20px;
    color:white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 50px;
    height: 50px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color:white;
    text-decoration: none;
}

.copyright {
    text-align: center;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

